<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @paciente.id %>
</p>

<p>
  <b>Primer nombre:</b>
  <%= @paciente.primer_nombre %>
</p>

<p>
  <b>Segundo nombre:</b>
  <%= @paciente.segundo_nombre %>
</p>

<p>
  <b>Primer apellido:</b>
  <%= @paciente.primer_apellido %>
</p>

<p>
  <b>Segundo apellido:</b>
  <%= @paciente.segundo_apellido %>
</p>

<p>
  <b>Sexo:</b>
  <%= @paciente.sexo %>
</p>

<p>
  <b>Tlf:</b>
  <%= @paciente.tlf %>
</p>

<p>
  <b>Direccion:</b>
  <%= @paciente.direccion %>
</p>

<p>
  <b>Historia medica:</b>
  <%= @paciente.historia_medica %>
</p>

<p>
  <b>Fecha nacimiento:</b>
  <%= @paciente.fecha_nacimiento %>
</p>

<p>
  <b>Lugar nacimiento:</b>
  <%= @paciente.lugar_nacimiento %>
</p>

<p>
  <b>Nombre padre:</b>
  <%= @paciente.nombre_padre %>
</p>

<p>
  <b>Nombre madre:</b>
  <%= @paciente.nombre_madre %>
</p>

<p>
  <b>Seguro social:</b>
  <%= @paciente.seguro_social %>
</p>

<p>
  <b>Provincia:</b>
  <%= @paciente.provincia %>
</p>

<p>
  <b>Distrito:</b>
  <%= @paciente.distrito %>
</p>

<p>
  <b>Corregimiento:</b>
  <%= @paciente.corregimiento %>
</p>

<p>
  <b>Nombre urgencias:</b>
  <%= @paciente.nombre_urgencias %>
</p>

<p>
  <b>Parentesco:</b>
  <%= @paciente.parentesco %>
</p>

<p>
  <b>Telefono urgencias:</b>
  <%= @paciente.telefono_urgencias %>
</p>


<%= link_to 'Edit', edit_paciente_path(@paciente) %> |
<%= link_to 'Back', pacientes_path %>
