<h1>Listing usuarios</h1>

<table>
  <tr>
    <th>Id</th>
    <th>Primer nombre</th>
    <th>Segundo nombre</th>
    <th>Primer apellido</th>
    <th>Segundo apellido</th>
    <th>Sexo</th>
    <th>Tlf</th>
    <th>Direccion</th>
    <th>Servicio</th>
    <th>Nombre usuario</th>
    <th>Clave</th>
    <th>Rol</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @usuarios.each do |usuario| %>
  <tr>
    <td><%= usuario.id %></td>
    <td><%= usuario.primer_nombre %></td>
    <td><%= usuario.segundo_nombre %></td>
    <td><%= usuario.primer_apellido %></td>
    <td><%= usuario.segundo_apellido %></td>
    <td><%= usuario.sexo %></td>
    <td><%= usuario.tlf %></td>
    <td><%= usuario.direccion %></td>
    <td><%= usuario.servicio %></td>
    <td><%= usuario.nombre_usuario %></td>
    <td><%= usuario.clave %></td>
    <td><%= usuario.rol %></td>
    <td><%= link_to 'Show', usuario %></td>
    <td><%= link_to 'Edit', edit_usuario_path(usuario) %></td>
    <td><%= link_to 'Destroy', usuario, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Usuario', new_usuario_path %>
