<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @medico.id %>
</p>

<p>
  <b>Primer nombre:</b>
  <%= @medico.primer_nombre %>
</p>

<p>
  <b>Segundo nombre:</b>
  <%= @medico.segundo_nombre %>
</p>

<p>
  <b>Primer apellido:</b>
  <%= @medico.primer_apellido %>
</p>

<p>
  <b>Segundo apellido:</b>
  <%= @medico.segundo_apellido %>
</p>

<p>
  <b>Sexo:</b>
  <%= @medico.sexo %>
</p>

<p>
  <b>Tlf:</b>
  <%= @medico.tlf %>
</p>

<p>
  <b>Direccion:</b>
  <%= @medico.direccion %>
</p>

<p>
  <b>Servicio:</b>
  <%= @medico.servicio %>
</p>

<p>
  <b>Nombre usuario:</b>
  <%= @medico.nombre_usuario %>
</p>

<p>
  <b>Clave:</b>
  <%= @medico.clave %>
</p>

<p>
  <b>Rol:</b>
  <%= @medico.rol %>
</p>

<p>
  <b>Tipo profesional:</b>
  <%= @medico.tipo_profesional %>
</p>

<p>
  <b>Codigo profesional:</b>
  <%= @medico.codigo_profesional %>
</p>


<%= link_to 'Edit', edit_medico_path(@medico) %> |
<%= link_to 'Back', medicos_path %>
